section{
    padding-top: 80px;
    padding: 80px;
}
#home{
    background-image: url(/assets/backgrounds/h_img.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;

}
h1{
    text-align: center;
    
}
p{
    text-align: center;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}